<div class="team-member">
  {% if portrait %}
    {% include '#image' with portrait only %}
  {% endif %}
  <div>
    {% include '#title' with { title: name } only %}
    {{ text.processed | raw }}

    {% set boxes %}
      {% include '#teaser-box' with {
        theme: 'black',
        title: 'Expertise' | t,
        teasers: articles.teasers,
        url: '/blog'
      } only %}
      {% include '#teaser-box' with {
        theme: 'yellow',
        title: 'Become a colleague' | t,
        teasers: jobs.teasers,
        url: '/jobs'
      } only %}
    {% endset %}

    {% embed '#grid' with { columns: 2 } %}
      {% block items %}{{ boxes }}{% endblock %}
    {% endembed %}
  </div>
</div>
