<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="web/core/tests/bootstrap.php" colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         checkForUnintentionallyCoveredCode="false">
    <php>
        <env name="SIMPLETEST_DB" value="sqlite://localhost/sites/default/files/.sqlite"/>
    </php>
<filter>
    <whitelist>
        <directory suffix=".php">web/modules/custom</directory>
    </whitelist>
</filter>
</phpunit>
