<div id="block-tabs">
  <ul>
    <li><a href="#" class="is-active">View</a></li>
    <li><a href="#">Edit</a></li>
    <li><a href="#">Delete</a></li>
    <li><a href="#">Revisions</a></li>
  </ul>
</div>
