.logo {
  background: url('./logo.png') no-repeat center;
  background-image: url('./logo.svg');
  background-size: contain;
  color: var(--color-highlight);
  font-weight: bold;
  font-size: 2em;
  line-height: 1em;
}

.logo > a {
  display: block;
  padding-bottom: 63%;
  text-decoration: none;
}
