<!--
Placeholder template.

A placeholder that can be used within layouts to simulate content.
-->
<div style="width: 100%; height: {{ height | default('200px') }}; border: var(--color-highlight) 4px dashed; border-radius: 20px; box-sizing: border-box;"></div>
