<div class="layout-page">
  <div class="layout-page__header theme-yellow">
    <div class="layout-page__container">
      {% block header %}
      {% endblock %}
    </div>
  </div>
  <div class="layout-page__content theme-white">
    <div class="layout-page__container">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  <div class="layout-page__footer theme-black">
    <div class="layout-page__container">
      {% block footer %}
      {% endblock %}
    </div>
  </div>
</div>
