<!--
Preview template.

This is the wrapper around every component in fractal.
Includes the aggregated stylesheet for all components.
-->
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../styles.css"/>
  </head>
  <body>
    {{ yield }}
  </body>
</html>
