<h1>{{ 'Blog' }}</h1>
<p>{{ 'Be part of our happy opinion echo chamber!' | t }}</p>

{% include '@storybook/03-molecules/02-teasers/02-teaser-list/teaser-list.twig' with { teasers: articles.teasers } %}
