<h1>{{ 'Jobs' }}</h1>
<p>{{ 'Join the happiest team ever, and become happy yourself!' | t }}</p>
{% include '@storybook/03-molecules/02-teasers/02-teaser-list/teaser-list.twig' with { teasers: jobs.teasers } %}
