<div class="footer">
  <div class="footer__contact">
    Amazing Apps<br/>
    Sesame Street 42<br/>
    Wonderland<br/>
    Tel.: 555-SLACK-ME-INSTEAD<br/>
    Fax.: 555-DELOREAN
  </div>
  {% include '#menu' with footerNav only %}
</div>
