<div class="article">
  {% if hero %}
    {% include '#image' with hero only %}
  {% endif %}
  {% include '#title' with { title: title } only %}
  {% include '#date'  with { date: date } only %}
  {{ text.processed | raw }}

  {% set boxes %}
    {% include '#teaser-box' with {
      theme: 'black',
      title: 'Experts' | t,
      teasers: experts.teasers,
      url: '/blog'
    } only %}

    {% include '#teaser-box' with {
      theme: 'yellow',
      title: 'Work in this field' | t,
      teasers: jobs.teasers,
      url: '/jobs'
    } only %}

    {% include '#teaser-box' with {
      theme: 'white',
      title: 'Related articles' | t,
      teasers: articles.teasers,
      url: '/jobs'
    } only %}
  {% endset %}

  {% embed '#grid' with { columns: 3 } %}
    {% block items %}{{ boxes }}{% endblock %}
  {% endembed %}

</div>
